<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <%- include('partials/_header.ejs') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>EZt8keOut</title>
</head>

<body>

  <main style="margin: 1em;">
    <h3>Orders</h3>
    <table class="table table-dark table-striped">

      <thead>
        <tr>
          <th scope="col">Order_id</th>
          <th scope="col">Client_name</th>
          <th scope="col"> Phone_number</th>
          <th scope="col"> Quantity </th>
          <th scope="col"> Items </th>
          <th scope="col"> total_price </th>
          <th scope="col"> SMS </th>


        </tr>
      </thead>

      <tbody>
        <% for(let order in orders) { %>
        <tr>
            <td>
              <p><%= orders[order].id%></p>
            </td>
          <td>
            <p><%= orders[order].name %></p>
          </td>
          <td>
            <p><%= orders[order].phone_number %></p>
          </td>
          <td>
           <p><%= orders[order].quantity %></p>
          </td>
          <td>
            <p><%= orders[order].item %></p>
          </td>
            <td>
              <p><%= orders[order].total_price %></p>
            </td>
          <td>
            <form method="POST" action="">
              <button class="btn btn-outline-success">Confirm</button>
              <form method="POST" action="">
                <button class="btn btn-outline-danger">Cancel</button>
                </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

  </main>
</body>

</html>
