<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <%- include('partials/_header.ejs') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>EZt8keOut</title>
</head>

<body>

  <main style="margin: 1em;">

    <h3>Orders</h3>


      <thead>
        <div>
          <th scope="col">Order id</th>
          <th scope="col">Client Name</th>
          <th scope="col"> Phone Number</th>
          <th scope="col"> Items </th>
          <th scope="col"> Total Price </th>
          <th scope="col"> Actions </th>
        </div>
      </thead>

      <div>
        <% for(let order in orders) { %>
          <div>

            <div>

                <%= orders[order].id%>

            </div>

            <div>

                <%= orders[order].name %>

            </div>



            <div>

                <%= orders[order].phoneNumber %>

            </div>

            <div>

                <% for ( const item of orders[order].items) { %>

                <%= item %>

              <% } %>
            </div>

            <div>

                <%= orders[order].totalPrice %>

            </div>

                <div>
                 <% if (orders[order].orderAccepted===null) { %>

                 <form method="POST" action="/admin/<%= orders[order].id%>/accept">
                  <button type="submit" class="btn btn-outline-success">Confirm </button>
                 </form>
                 <form method="POST" action="/admin/<%= orders[order].id%>/cancel">
                  <button type="submit" class="btn btn-outline-danger">Cancel</button>
                 </form>
                 <% } else if (orders[order].orderAccepted) {%>

                  <form method="POST" action="/admin/<%= orders[order].id%>/accept">
                    <button type="submit" class="btn btn-outline-success">Confirmed </button>
                  </form>
                 <% } else {%>
                    <form method="POST" action="/admin/<%= orders[order].id%>/cancel">
                      <button type="submit" class="btn btn-outline-danger">Canceled</button>
                    </form>
                <% } %>
            </div>
          </div>
          <% } %>
      </div>
  </main>
</body>

</html>
